<!-- Liquid Logic -->

<!-- All templates need this -->
{{ template.stylesheets }}

<!-- Address. Put it in two seperate p tags if you want it in two lines --> 
{{comarketer.settings.address}}{% if comarketer.settings.address_two %}, {{comarketer.settings.address_two}}{% endif %} 
{{comarketer.settings.city}}, {{comarketer.settings.state}} {{comarketer.settings.zipcode}}

<!-- Including Snippets -->
{% include 'FHM_flyer_static_cb' %}

<!-- Always assign before including, in liquid logic. See example below -->

{{ template.stylesheets }}

{% assign background_image = 'https://totalexpert.net/media/assets/images/ehm/survey-for.jpg' %}

{% assign flyer_header = 'true' %}

{% assign footer_override = 'EHM_flyer_footer_lennar_sb' %}

{% include 'EHM_flyer_full_sb' %}

<!-- How to toggle a snippet -->
<!-- Find targetted toggle in template snippet under super admin. For example see below -->
{% if user_bio == 'true' %}

<!-- Enter into your template code. Make sure you use single equal sign -->
{% assign user_bio = 'true' %}

<!-- Calling inline style background image -->
<div class="booklet-content cover-image" style="background-image: url('https://totalexpert.net/media/assets/images/g-rate/grate-book-buyers-guide-0953-cb1.jpg');"></div>
<div class="brochure cover-image" style="background-image: url('https://totalexpert.net/media/');"></div>
<div class="lender-photo" style="background-image: url('{{ comarketer.settings.profile_image }}');"></div>

<!-- Background image path for S3 -->
https://totalexpert.net/media/template-assets/ksb/assets/images/ksb/BACKGROUND-IMAGE.jpg

<!-- Applying text fill. REMEMBER TO WRAP CONTENT IN A SPAN TAG -->
<div class="exec-name social-text text-fill" data-max-font-size="115" data-min-font-size="80"><span>{{comarketer.name}}</span></div>
<!-- And remember to put an inline width, defining how far out you want the textfill to go -->
<p class="email text-fill" data-max-font-size="7.5" data-min-font-size="6.5" style="width:36mm">
<!-- you cant do text fill and editable at the same time!!!!  -->
<div class="lo-name text-fill" data-max-font-size="67" data-min-font-size="30" style="width:750px;height:120px;"><span>{{ comarketer.name }}</span></div>
<!-- sometimes you'll need to add a height to also get things working-->

<div class="flyer-disclaimer ">
    <div class="disclaimer-text text-fill">
        <div>
               {{ comarketer.settings.disclaimer }} | {{ organization_disclaimer }} 
        </div>
    </div>
    <p class="flyer-id">PID {{pid_number}} | Included content approved as of {{ exp_date }} </p>
</div>

<!-- If statements, that appear if content is there and dissapear if content is not -->

{% if comarketer.phone_cell %}
        <p>direct: {{comarketer.phone_cell}}</p>
{% endif %}

<!-- or -->

<p>{% if comarketer.phone_cell %}direct: {{comarketer.phone_cell}}{% endif %}</p>
<p><br>{% if comarketer.phone_cell %}direct: {{comarketer.phone_cell}}{% endif %}</p>

Disclaimers:
"Example based on $0 down payment, no closing costs, 30-year fixed-rate mortgage."
standard_long_version
Informational_Purposes_Flyer
Organization _Names/Logos
RELEVANT STATE DISCLOSURES (STATE_California_Bakersfield for users in CCM Mortgage org)

<!-- the statements above would equate to... -->

<!-- Change state disclaimer language or Add/Remove disclaimers per flyer requirements -->
{% capture template_disclaimers %} 
Example based on $0 down payment, no closing costs, 30-year fixed-rate mortgage. 
{{ organization.disclaimers.standard_long_version.content }} 
{{ organization.disclaimers.Informational_Purposes_Flyer.content }} 
{{ organization.disclaimers.Organization _Names/Logos.content }} 
{% include 'state_disclaimer_logic_english' %}
{% endcapture %}

{% assign template_disclaimer = template_disclaimers %}

<!-- from snippet  -->

<div>{{ template_disclaimer }} {{ comarketer.disclaimer }} {{ media.org_ref_number }}</div>



<div class="disclaimer">
    <div class="disclaimer-text">
        <div class="eh-logo contain-image"></div>
        <p class="variable-disclaimer">
            
            {% if variable_disclaimer %}{{variable_disclaimer}}{% else %}{{ organization.disclaimers.Long_Disclaimer.content }}{% endif %}</p>
    </div>
</div>

git fetch && git checkout ugonna-work

S3 assests/images url
https://totalexpert.net/media/template-assets/xyz/assets/images/xyz/

replace xyz in BOTH places with the org abbreviation (aka the folder your working inside in media_dcd)



<div class="disclaimer">
    <p class="disclaimer-text">
               {% if override_disclaimer %}
               {{ override_disclaimer }}
               {% else %}
               {{ organization.disclaimer }} {{ additional_disclaimer }}
               {% endif %}
    </p>
</div>

<!-- HOWEVER, DO NOT TAB ENTER. MAKE LIQUID LOGIC ALL ON ONE LINE -->

{% capture override_disclaimers %} 
Example based on $0 down payment, no closing costs, 30-year fixed-rate mortgage. 
{{ organization.disclaimers.standard_long_version.content }} 
{{ organization.disclaimers.Informational_Purposes_Flyer.content }} 
{{ organization.disclaimers.Organization _Names/Logos.content }} 
{% include 'state_disclaimer_logic_english' %}
{% endcapture %}

<!-- HOWEVER, DO NOT TAB ENTER. MAKE LIQUID LOGIC ALL ON ONE LINE -->

{% assign override_disclaimer = override_disclaimers %}







the lender logo should not be comarketer.organization.logo_img, either 
{‌{comarketer.settings.logo_image}‌} or {‌{comarketer.logo_image}‌}





GRA disclaimers
{% assign top_disclosure = '{{ organization.disclaimers.BASIC-S.content }}<br>{{ organization.disclaimers.GOV-1-S.content }}' %}


/* text fill needs to be in points, not pixels for fonts */


editable-image
editable

Place holder images url
https://totalexpert.net/images/media-placeholder-img.png

If you don't want something/text to split and go to the next line put in a 
white-space: nowrap;

logos - contain
background images are cover 
profile - profile-img

<div class="right-side-content">
    {% if comarketer.logo_image and comarketer.logo_image != 'https://totalexpert.net/images/media-placeholder-img.png' %}
    <div class="company-logo contain-image editable-image" style="background-image: url('{{ comarketer.logo_image }}');"></div>
    {% else %}
    <div class="company-logo contain-image editable-image" style="background-image: url('https://totalexpert.net/media/assets/images/far/rsb-logo-black.png');"></div>
    {% endif %}
    
    <div class="address">
    <p>{{comarketer.settings.address}}{% if comarketer.settings.address_two %}, {{comarketer.settings.address_two}}{% endif %}</p>
    <p>{{comarketer.settings.city}}, {{comarketer.settings.state}} {{comarketer.settings.zipcode}}</p>
    </div>
</div>

<!-- HTML entity for spaces and bullet points -->

<div class="lo-title-nmls"> {{ comarketer.job_title }}  &nbsp; &bull; &nbsp; NMLS #{{ comarketer.license_title }}</div>

{{ "template.timestamp" | date: "%m/%d/%Y"}}

or 
{{ "now" | date: "%m/%d/%Y"}}

or 
{{ "today" | date: "%m/%d/%Y"}}

<!-- THIS IS WHERE YOU LEFT OFF -->

Half Bath Calculation
{% assign half_bath_count = listing.half_bath_count | plus: listing.quarter_bath_count | plus: listing.three_quarter_bath_count %}

0084 - OB integration rate flyers
0087 - for Marksman
so search for example ABM0084 to find OB BOX rate flyer templates

{{ loan_scenarios[0] | console }}

if sender.cost_center ==== email
if user.cost_center ==== websites, landing page, etc.
if cost_center ==== print


<div class="brochure cover-image" style="background-image: url('https://totalexpert.net/media/');"></div>
https://totalexpert.net/media/

<!-- Background image path for S3 -->
https://totalexpert.net/media/template-assets/ksb/assets/images/ksb/BACKGROUND-IMAGE.jpg


<script>
    window.editableChangeHandlers = [function(e, ed) {

        var $el = $(e.target.targetElm);
        var $update = null;

        if ($el.hasClass('col-0')) {
            var colClass = 'col-0';
            var $update = $('.col-0.monthly-payment');
        } else if ($el.hasClass('col-1')) {
            var colClass = 'col-1';
            var $update = $('.col-1.monthly-payment');
        } else if ($el.hasClass('col-2')) {
            var colClass = 'col-2';
            var $update = $('.col-2.monthly-payment');
        }
        if ($update) {
            var taxes = $('.taxes.' + colClass).text().replace(/[^\d|^\.]/g, '');
            var insurance = $('.insurance.' + colClass).text().replace(/[^\d|^\.]/g, '');
            var monthlyPi = $('.monthly-pi.' + colClass).text().replace(/[^\d|^\.]/g, '');
            var monthlyMi = $('.monthly-mi.' + colClass).text().replace(/[^\d|^\.]/g, '');
            var totalMonthly = (1 * taxes) + (1 * insurance) + (1 * monthlyPi) + (1 * monthlyMi);
            $update.html('$' + totalMonthly.toLocaleString(undefined, {
                minimumFractionDigits: 2,
                maximumFractionDigits: 2
            }));
        }
    }];
</script>

.ltv = LTV
.num_payments == Term in Months
listing.hoa_fee == HOA fee

<!-- COLOR SCHEMES -->

{% if template.color_scheme != "default" %}
    background-color: {{ color_scheme.colors[0] }};
{% else %}
    background-color: rgb(40, 46, 110);
{% endif %}

<!-- for example... -->

{% if template.color_scheme != "default" %}
        .light-blue {
            background-color: {{ color_scheme.colors[0] }};
        }
    {% else %}
        .light-blue {
            background-color: rgb(72,185,234);
        }
{% endif %}

<!-- another example... -->

{% if template.color_scheme != "default" %}
    .header-background,
    .light-blue {
        background-color: {{ color_scheme.colors[0] }};
    }
    {% else %}
    .header-background,
    .light-blue {
        background-color: rgb(72,185,234);
    }
{% endif %}

<!-- and another example -->
{% if template.color_scheme == "Yellow" %}
    {% assign background_image = 'https://totalexpert.net/media/assets/images/g-rate/dm-5.5x8.5-spotlight-just-listed-Opt1-cb-yellow.png' %}
{% elsif template.color_scheme == "Teal" %}
    {% assign background_image = 'https://totalexpert.net/media/assets/images/g-rate/dm-5.5x8.5-spotlight-just-listed-Opt1-cb-teal.png' %}
{% elsif template.color_scheme == "Light Gray" %}
    {% assign background_image = 'https://totalexpert.net/media/assets/images/g-rate/dm-5.5x8.5-spotlight-just-listed-Opt1-cb-gray.png' %}
{% elsif template.color_scheme == "Warm Red" %}
    {% assign background_image = 'https://totalexpert.net/media/assets/images/g-rate/dm-5.5x8.5-spotlight-just-listed-Opt1-cb-warmred.png' %}
{% elsif template.color_scheme == "Red" %}
    {% assign background_image = 'https://totalexpert.net/media/assets/images/g-rate/dm-5.5x8.5-spotlight-just-listed-Opt1-cb-red.png' %}
{% elsif template.color_scheme == "Default: Navy" %}
    {% assign background_image = 'https://totalexpert.net/media/assets/images/g-rate/dm-5.5x8.5-spotlight-just-listed-Opt1-cb-navy.png' %}
{% else template.color_scheme == "default" %}
    {% assign background_image = 'https://totalexpert.net/media/assets/images/g-rate/dm-5.5x8.5-spotlight-just-listed-Opt1-cb-navy.png' %}
{% endif %}

<!-- Font Declarations or Font Decloartions Link  -->
<link rel="stylesheet" href="https://fonts.totalexpert.net/declartions.css">


<!-- For adding cost center logic in email editors -->
<span style="display:none;">{% include 'STC_cost_center_logic' %}</span>

Organization EHO/EHL logo
https://totalexpert.net/marketing/{{ organization.settings.eh_logo }}

FOR HOSTED DOWNLOADED CONTENT
    Check yes ---> Hosted Downloaded Content on Media

    then...
    Set up folder structure like so...
    template name (folder)
        > preview.jpg
        > assets (folder)
            > content (folder)
                > powerpoint.ppt
            > css (folder)
                > colors (folder)
                    > default.css
                > style.css


                
<td style="margin: 0; padding: 0; display: block" width="575" valign="top" align="center">
    <table cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td>
                    <a href="mailto:{{sender.email}}"style="text-decoration: none;">
                        <img src="https://totalexpert.net/media/template-assets/cmc/assets/images/cmc/email-click-v3.png" alt="{{sender.email}}" style="display: inline-block;" width="100"/>
                    </a>
                </td>
                <td>
                    <a href="tel:{{sender.phone}}"style="text-decoration: none;">
                        <img src="https://totalexpert.net/media/template-assets/cmc/assets/images/cmc/email-call-v3.png" alt="{{sender.phone}}" style="display: inline-block;" width="100"/>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</td>

{% include 'AHL_Branding' %}
<div class="company-logo contain-image" style="background-image: url('{{ brand_user_logo }}');">

<!-- DYNAMIC CONTENT -->

{% include 'AHL_Branding' %}

   {% assign background_image_1 = 'https://totalexpert.net/media/template-assets/AHL/AHL-flyer-fha-program-v1-sb-1566574873/assets/images/FHA_V1.jpg' %}

   <!--
   var: footer_layout
   comment: Assign footer on asset
   -->
   {% assign footer_layout = 'sb' %}

{% capture dynamic_content %}
<style>
    .logo-top {
        width: 48mm;
        height: 17mm;
        position: absolute;
        top: 7mm;
        left: 11mm;
    }
</style>

<div class="logo-top contain-image" style="background-image: url('{{ brand_user_logo }}');"></div>
{% endcapture %}


<!-- Template being used -->

   {% include 'AHL_flyer_full_SSCP1' %}



.green-text {
color: rgb({{ brand_primary_color }});
}

{% assign background_image_1 = 'https://totalexpert.net/media/assets/images/alterra/ahl-flyer-open-house-3-photo-v3-agent-front-cb.jpg' %}
{% assign background_image_2 = 'https://totalexpert.net/media/template-assets/ahl/ahl-flyer-open-house-3-photo-v3-cb/assets/images/background-image2.jpg' %}

{% if agent.team_logo != '' or agent.team_logo != 'https://totalexpert.net/images/media-placeholder-img.png' %}
    <div class="agent-company-logo contain-image" style="background-image:url('{{ agent.logo_image }}');"></div>
    {% else %}
    <div class="agent-company-logo contain-image" style="background-image:url('{{ agent.logo_image }}');"></div>
    {% endif %}

{% if agent.team_logo == '' or agent.team_logo == 'https://totalexpert.net/images/media-placeholder-img.png' %}
    <div class="agent-company-logo contain-image" style="background-image:url('{{ agent.logo_image }}');"></div>
    {% else %}
    <div class="agent-company-logo contain-image" style="background-image:url('{{ agent.logo_image }}');"></div>
    {% endif %}

    

<div style="font-size: 10pt; color: #5a5b5d; line-height: 16pt; mso-line-height-rule: exactly;"><span style="font-size: 11pt; line-height: 18pt; mso-line-height-rule: exactly;">{{comarketer.job_title}}</span><br />
    {% if cost_center == 109 %}
    Lic # {{comarketer.license_title}}<br />{{comarketer.address}} {{comarketer.address_two}}<br /> {{comarketer.city}}, {{comarketer.state}} {{comarketer.zipcode}}<br /> {{comarketer_office_text}} {{comarketer.phone_office}}<br />                                              {{comarketer_cell_text}} {{comarketer.phone_cell}}<br /> <a style="color: #000;" href="mailto:{{comarketer.email}}">Email Me</a><br /> <a style="color: #000;" href="{{ comarketer.website_full }}"  target="_blank" rel="noopener noreferrer">My Website</a><br
    /> <br /> &nbsp;
    <div style="width: 100%; text-decoration: none !important; border: 0px; margin-top: 10px; font-size: 6px;" align="left">
        <!-- Facebook --><a style="padding: 0 5px; text-decoration: none; display: {{comarketer_fb}};" href="{{comarketer.social_facebook}}" border="0"> <img alt="Facebook" src="https://totalexpert.net/box/_113-BOX/emails/box-facebook-icon.png" width="20" height="20" border="none" /> </a>
        <!-- Twitter --><a style="padding: 0 5px; text-decoration: none; display: {{comarketer_tw}};" href="{{comarketer.social_twitter}}" border="0"> <img alt="Twitter" src="https://totalexpert.net/box/_113-BOX/emails/box-twitter-icon.png" width="20" height="20" border="none" /> </a>
        <!-- LinkedIN --><a style="padding: 0 5px; text-decoration: none; display: {{comarketer_ld}};" href="{{comarketer.social_linkedin}}" border="0"> <img alt="LinkedIn" src="https://totalexpert.net/box/_113-BOX/emails/box-linkedin-icon.png" width="20" height="20" border="none" /> </a>
        <!-- google+ --><a style="padding: 0 5px; text-decoration: none; display: {{comarketer_gp}};" href="{{comarketer.social_google}}" border="0"> <img alt="LinkedIn" src="https://totalexpert.net/box/_113-BOX/emails/box-googleplus-icon.png" width="20" height="20" border="none" /> </a>
        <!-- YouTube --><a style="padding: 0 5px; text-decoration: none; display: {{comarketer_yt}};" href="{{comarketer.social_youtube}}" border="0"> <img alt="LinkedIn" src="https://totalexpert.net/box/_113-BOX/emails/box-youtube-icon.png" width="20" height="20" border="none" /> </a></div>
    {% else %}
    <div style="width: 100%; text-decoration: none !important; border: 0px; margin-top: 10px; font-size: 6px;" align="left">
        <!-- Facebook --><a style="padding: 0 5px; text-decoration: none; display: {{comarketer_fb}};" href="{{comarketer.social_facebook}}" border="0"> <img alt="Facebook" src="https://totalexpert.net/box/_113-BOX/emails/box-facebook-icon.png" width="20" height="20" border="none" /> </a>
        <!-- Twitter --><a style="padding: 0 5px; text-decoration: none; display: {{comarketer_tw}};" href="{{comarketer.social_twitter}}" border="0"> <img alt="Twitter" src="https://totalexpert.net/box/_113-BOX/emails/box-twitter-icon.png" width="20" height="20" border="none" /> </a>
        <!-- LinkedIN --><a style="padding: 0 5px; text-decoration: none; display: {{comarketer_ld}};" href="{{comarketer.social_linkedin}}" border="0"> <img alt="LinkedIn" src="https://totalexpert.net/box/_113-BOX/emails/box-linkedin-icon.png" width="20" height="20" border="none" /> </a>
        <!-- google+ --><a style="padding: 0 5px; text-decoration: none; display: {{comarketer_gp}};" href="{{comarketer.social_google}}" border="0"> <img alt="LinkedIn" src="https://totalexpert.net/box/_113-BOX/emails/box-googleplus-icon.png" width="20" height="20" border="none" /> </a>
        <!-- YouTube --><a style="padding: 0 5px; text-decoration: none; display: {{comarketer_yt}};" href="{{comarketer.social_youtube}}" border="0"> <img alt="LinkedIn" src="https://totalexpert.net/box/_113-BOX/emails/box-youtube-icon.png" width="20" height="20" border="none" /> </a></div>
    Lic # {{comarketer.license_title}}<br />{{comarketer.address}} {{comarketer.address_two}}<br /> {{comarketer.city}}, {{comarketer.state}} {{comarketer.zipcode}}<br /> {{comarketer_office_text}} {{comarketer.phone_office}}<br />                                              {{comarketer_cell_text}} {{comarketer.phone_cell}}<br /> <a style="color: #000;" href="mailto:{{comarketer.email}}">Email Me</a><br /> <a style="color: #000;" href="{{ comarketer.website_full }}"  target="_blank" rel="noopener noreferrer">My Website</a><br
    /> <br /> &nbsp;{% endif %}</div>



    
    <div data-block-type="general" class="te-section">
    </div>
    
    <div data-block-type="general" class="te-section" data-comarketable="false">
        {% include "FAM_flyer_footer_sb" %}
    </div>
    
    <div class="te-container">
        <div class="te-page-container">
            <div class="te-page">
     
            </div>
        </div>
    </div>
    
    <div class="te-container">
        <div class="te-page-container">
            <div class="te-page">
                <div class="te-section-container" data-block-type="header">
                    <div class="te-section" data-block-type="header">
                        <h1>Im a header block</h1>
                    </div>
                </div>
     
                <div class="te-section-container" data-block-type="footer">
                    <div class="te-section" data-block-type="footer">
                        <h1>Im a footer block</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% capture lender_phone_office %}{{ comarketer.settings.phone_office | remove: " " | remove: "(" | remove: ")" | remove: "-" }}{% endcapture %}
{% capture lender_phone_office %}{{ lender_phone_office | slice: 0, 3 }}.{{ lender_phone_office | slice: 3, 3 }}.{{ lender_phone_office | slice: 6, 4 }}{% endcapture %}

{% capture lender_phone_cell %}{{ comarketer.settings.phone_cell | remove: " " | remove: "(" | remove: ")" | remove: "-" }}{% endcapture %}
{% capture lender_phone_cell %}{{ lender_phone_cell | slice: 0, 3 }}.{{ lender_phone_cell | slice: 3, 3 }}.{{ lender_phone_cell | slice: 6, 4 }}{% endcapture %}

{% capture lender_phone_fax %}{{ comarketer.settings.phone_fax | remove: " " | remove: "(" | remove: ")" | remove: "-" }}{% endcapture %}
{% capture lender_phone_fax %}{{ lender_phone_fax | slice: 0, 3 }}.{{ lender_phone_fax | slice: 3, 3 }}.{{ lender_phone_fax | slice: 6, 4 }}{% endcapture %}



{% capture agent_phone_office %}{{ agent.settings.phone_office | remove: " " | remove: "(" | remove: ")" | remove: "-" }}{% endcapture %}
{% capture agent_phone_office %}{{ agent_phone_office | slice: 0, 3 }}.{{ agent_phone_office | slice: 3, 3 }}.{{ agent_phone_office | slice: 6, 4 }}{% endcapture %}

{% capture agent_phone_cell %}{{ agent.settings.phone_cell | remove: " " | remove: "(" | remove: ")" | remove: "-" }}{% endcapture %}
{% capture agent_phone_cell %}{{ agent_phone_cell | slice: 0, 3 }}.{{ agent_phone_cell | slice: 3, 3 }}.{{ agent_phone_cell | slice: 6, 4 }}{% endcapture %}

{% capture agent_phone_fax %}{{ agent.settings.phone_fax | remove: " " | remove: "(" | remove: ")" | remove: "-" }}{% endcapture %}
{% capture agent_phone_fax %}{{ agent_phone_fax | slice: 0, 3 }}.{{ agent_phone_fax | slice: 3, 3 }}.{{ agent_phone_fax | slice: 6, 4 }}{% endcapture %}



<!-- _________________________________________________________________________________________________________________________ -->


{% if comarketer.settings.team_logo != "https://totalexpert.net/images/media-placeholder-img.png" %}
    <style>
        .logo-seal {
            background-image: url('{{comarketer.settings.team_logo}}');
        }
        .lender-logo-disclaimer {
            background-image:url('{{ comarketer.settings.team_logo }}');
        }
        .lender-logo-disclaimer-top {
            background-image:url('{{ comarketer.settings.team_logo }}');
        }
    </style>
    {% else %}
    <style>
        .logo-seal {
            background-image: url('{{ brand_user_logo }}');
        }
        .lender-logo-disclaimer {
            background-image:url('{{ brand_user_logo }}');
        }
        .lender-logo-disclaimer-top {
            background-image:url('{{ brand_user_logo }}');
        }
    </style>
{% endif %}




{% if top_logo_position == "left" %}
    <style>
        .lender-logo-disclaimer-top {
            bottom: 167.7mm;
            left: 35mm;
            width: 43mm;
            height: 17mm;
            margin: 0;
        }
        .eh-logo-top {
            bottom: 168.6mm;
            left: 11.9mm;
            width: 21.7mm;
            height: 13.5mm;
        }
    </style>
    {% elsif top_logo_position == "right" %}
    <style>
        .lender-logo-disclaimer-top {
            bottom: 167.7mm;
            right: 12mm;
            width: 43mm;
            height: 17mm;
            margin: 0;
        }
        .eh-logo-top {
            bottom: 168.6mm;
            right: 56.5mm;
            width: 21.7mm;
            height: 13.5mm;
        }
    </style>
    {% elsif top_logo_position == "center" %}
    <style>
        .lender-logo-disclaimer-top {
            bottom: 167.7mm;
            right: 119mm;
            width: 43mm;
            height: 17mm;
            margin: 0;
        }
        .eh-logo-top {
            bottom: 168.6mm;
            right: 94.5mm;
            width: 21.7mm;
            height: 13.5mm;
        }
    </style>
{% endif %}


{{ template.stylesheets }}

{% assign additional_disclaimer = organization.disclaimers.FHA.content %}


<style>
    .logo-seal, .header-text, .top-color-bar, .grey-line {
        display: none !important;
    }
    
    .pc-container-front {
        background-image:url('https://totalexpert.net/media/template-assets/CCBE/CCBE-eddm-first-time-home-buyer-te00169-sb-1568312918/assets/images/ccbe-eddm-first-time-home-buyer-te00169-front.jpg') !important;
    }
    
    .pc-back {
        background-image:url('https://totalexpert.net/media/template-assets/CCBE/CCBE-eddm-first-time-home-buyer-te00169-sb-1568312918/assets/images/ccbe-eddm-first-time-home-buyer-te00169-back.jpg') !important;
    }
    
    .back-text {
        display: none;
    }
</style>

{% include 'CCBE_eddm_6x9_back_sb' %}

.table-row:nth-child(odd) {
    background: rgb(244, 242, 243);
}





{% assign background_image_1 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Cover-for-Fall-2019-Buyers-Guide-20190913.jpg' %}
{% assign background_image_2 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_01.jpg' %}
{% assign background_image_3 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_02.jpg' %}
{% assign background_image_4 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_03.jpg' %}
{% assign background_image_5 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_04.jpg' %}
{% assign background_image_6 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_05.jpg' %}
{% assign background_image_7 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_06.jpg' %}
{% assign background_image_8 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_07.jpg' %}
{% assign background_image_9 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_08.jpg' %}
{% assign background_image_10 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_09.jpg' %}
{% assign background_image_11 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_10.jpg' %}
{% assign background_image_12 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_11.jpg' %}
{% assign background_image_13 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_12.jpg' %}
{% assign background_image_14 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_13.jpg' %}
{% assign background_image_15 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_14.jpg' %}
{% assign background_image_16 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_15.jpg' %}
{% assign background_image_17 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_16.jpg' %}
{% assign background_image_18 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_17.jpg' %}
{% assign background_image_19 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_18.jpg' %}
{% assign background_image_20 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_19.jpg' %}
{% assign background_image_21 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_20.jpg' %}
{% assign background_image_22 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_21.jpg' %}
{% assign background_image_23 = 'https://totalexpert.net/media/template-assets/SPFC/SPFC-flyer-home-buyers-guide-2019-cb-1568912992/assets/images/Fall-2019-Buyers-Guide-Draft-v3-20190912_Page_22.jpg' %}

<style>
    .cover-image {
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .flyer{
        height: 285.75mm;
        width: 222.25mm;
        position: relative;
    }
</style>



<div class="flyer cover-image" style="background-image:url('{{background_image_1}}');">

    {% include 'SPFC_flyer_footer_cb_SSCP1' %}

</div>

<div class="flyer cover-image" style="background-image:url('{{background_image_2}}');"></div>
<div class="flyer cover-image" style="background-image:url('{{background_image_3}}');"></div>
<div class="flyer cover-image" style="background-image:url('{{background_image_4}}');"></div>
<div class="flyer cover-image" style="background-image:url('{{background_image_5}}');"></div>
<div class="flyer cover-image" style="background-image:url('{{background_image_6}}');"></div>
<div class="flyer cover-image" style="background-image:url('{{background_image_7}}');"></div>
<div class="flyer cover-image" style="background-image:url('{{background_image_8}}');"></div>
<div class="flyer cover-image" style="background-image:url('{{background_image_9}}');"></div>
<div class="flyer cover-image" style="background-image:url('{{background_image_10}}');"></div>
<div class="flyer cover-image" style="background-image:url('{{background_image_11}}');"></div>
<div class="flyer cover-image" style="background-image:url('{{background_image_12}}');"></div>
<div class="flyer cover-image" style="background-image:url('{{background_image_13}}');"></div>
<div class="flyer cover-image" style="background-image:url('{{background_image_14}}');"></div>
<div class="flyer cover-image" style="background-image:url('{{background_image_15}}');"></div>
<div class="flyer cover-image" style="background-image:url('{{background_image_16}}');"></div>
<div class="flyer cover-image" style="background-image:url('{{background_image_17}}');"></div>
<div class="flyer cover-image" style="background-image:url('{{background_image_18}}');"></div>
<div class="flyer cover-image" style="background-image:url('{{background_image_19}}');"></div>
<div class="flyer cover-image" style="background-image:url('{{background_image_20}}');"></div>
<div class="flyer cover-image" style="background-image:url('{{background_image_21}}');"></div>
<div class="flyer cover-image" style="background-image:url('{{background_image_22}}');"></div>
<div class="flyer cover-image" style="background-image:url('{{background_image_23}}');"></div>


{% if agentemailLength > 25 %}
    {% assign emailSplit = agent.settings.email | split: "@" %}
    <p class="lender-email editable">{{ emailSplit[0] }}</p>
    <p class="lender-email editable" style="padding-bottom: .5mm">@{{ emailSplit[1] }}</p>
{% else %}
    <p class="lender-email editable">{{ agent.email }}</p>
{% endif %}
{% endif %}