<!-- NOTES -->
<!-- make sure eh_logo is pulling an EHO LOGO -->

{% capture property_address %}{{ listing.address }}{% endcapture %}
{% capture property_address2 %}{{ listing.city }}, {{ listing.state }} {{ listing.zip }}{% endcapture %}

{% if property_address.size <= 1 or property_address == null %}
    {% assign property_address = "1234 Any Street" %}
{% endif %}

{% assign public_remarks = listing.public_remarks %}
{% if public_remarks.size == 0 or public_remarks == null %}
    {% assign public_remarks = "Description text goes here..." %}
{% endif %}

<style>
    .cover-image {
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size:cover;
    }
    .profile-img{
        background-repeat: no-repeat;
        background-position: top center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size:contain;
    }
    .contain-image {
        background-repeat: no-repeat;
        background-position: top center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size:contain;
    }
    p{
        margin:0;
        padding: 0;
    }

    .postcard {
        position: relative;
    }

    /* FRONT PAGE STYLING */

    .large-house-image {
        position: absolute;
    }
    .headline-text {
        color: rgb(255,255,255);
        font-size: 40pt;
        text-transform: uppercase;
        color: black;
    }
    .bottom-house-image {
        position: absolute;
    }
    .right-side-text {
        position: absolute;
    }
    .sub-headline-text {
        color: rgb(255,255,255);
        color: black;
    }
    .body-text-1,
    .body-text-2,
    .body-text-3,
    .body-text-4 {
        color: rgb(255,255,255);
        color: black;
    }
    .cta-line {
        color: rgb(255,255,255);
        color: black;
    }
    .front-page-phone {
        color: rgb(255,255,255);
        color: black;
    }
    .front-page-email {
        color: rgb(255,255,255);
        color: black;
    }
    
    /* CONTACT INFORMATION SECTION */

    .comarketer-contact-images {
        position: absolute;
    }
    .co-photo {
        position: relative;
    }
    .co-logo {
        position: relative;
    }
    .comarketer-contact-info,
    .agent-contact-info {
        color: rgb(0,0,0);
    }
    .green-text {
        color: green;
    }

    /* DISCLAIMER SECTION  */

    .disclaimer-section {
        position: absolute;
    }
    .disclaimer-text {
        color: rgb(0,0,0);
        font-size: 6pt;
    }
</style>

<!-- FRONT SIDE OF POSTCARD-->

<div class="postcard">

        <div class="large-house-image editable cover-image" style="background-image: url('{{ listing.images.0 }}');"></div>

        <div class="headline-text">Headline</div>

        <div class="bottom-house-image editable cover-image" style="background-image: url('{{ listing.images.1 }}');"></div>
        <div class="bottom-house-image editable cover-image" style="background-image: url('{{ listing.images.2 }}');"></div>
        <div class="bottom-house-image editable cover-image" style="background-image: url('{{ listing.images.3 }}');"></div>

        <div class="right-side-text">
            <p class="sub-headline-text"></p>
            <p class="body-text-1"></p>
            <p class="body-text-2"></p>
            <p class="body-text-3"></p>
            <p class="body-text-4"></p>
            <p class="cta-line"></p>
            <p class="front-page-phone">{{ comarketer.phone_office }}</p>
            <p class="front-page-email">{{ comarketer.email }}</p>
        </div>

</div>

<!-- BACK SIDE OF POSTCARD-->

<div class="postcard">

    <div class="comarketer-contact-images">
            <div class="co-photo profile-img" style="background-image: url('{{ comarketer.profile_image }}');"></div>
            <div class="co-logo contain-image" style="background-image: url('{{ comarketer.logo_image }}');"></div>
    </div>

            <div class="comarketer-contact-info">
                <p class="green-text">{{ comarketer.name }}</p>
                <p>{{ comarketer.job_title }}</p>
                <p>NMLS# {{ comarketer.license_title }}</p>
                <p class="green-text">Office: {{ comarketer.phone_office }}</p>
                <p class="green-text">Cell: {{ comarketer.phone_cell }}</p>
                <p>{{ comarketer.email }}</p>
                <p>{{ comarketer.website }}</p>
                <p class="green-text">{{ comarketer.company }}</p>
                <p>{{comarketer.settings.address}}{% if comarketer.settings.address_two %}, {{comarketer.settings.address_two}}{% endif %}</p>
                <p>{{comarketer.settings.city}}, {{comarketer.settings.state}} {{comarketer.settings.zipcode}}</p>
            </div>

    <div class="agent-contact-images">
            <div class="ag-photo profile-img" style="background-image: url('{{ comarketer.profile_image }}');"></div>
            <div class="ag-logo contain-image" style="background-image: url('{{ comarketer.logo_image }}');"></div>
    </div>

            <div class="agent-contact-info">
                <p class="editable green-text">{{ agent.name }}</p>
                <p class="editable">{{ agent.job_title }}</p>
                <p class="editable">NMLS# {{ agent.license_title }}</p>
                <p class="editable green-text">Office: {{ agent.phone_office }}</p>
                <p class="editable green-text">Cell: {{ agent.phone_cell }}</p>
                <p class="editable">{{ agent.email }}</p>
                <p class="editable">{{ agent.website }}</p>
                <p class="editable green-text">{{ agent.company }}</p>
                <p class="editable">{{agent.settings.address}}{% if agent.settings.address_two %}, {{agent.settings.address_two}}{% endif %}</p>
                <p class="editable">{{agent.settings.city}}, {{agent.settings.state}} {{agent.settings.zipcode}}</p>
            </div>

    <div class="disclaimer-section">
            <div class="eho-logo contain-image" style="background-image: url('https://totalexpert.net/marketing/{{ organization.settings.eh_logo }}');"></div>
            <p class="disclaimer-text">
                    {% if override_disclaimer %}
                    {{ override_disclaimer }}
                    {% else %}
                    {{ organization.disclaimer }} {{ additional_disclaimer }}
                    {% endif %}
            </p>
    </div>

</div>