/* ================================

Product SKU:  TRIFOLD8X11
Product Type: Trifold Brochure
Paper Height:  219.075mm   = 8.5"
Paper  Width:  282.576mm   = 11"
	   Bleed: 3.175mm / 2 ( 1.587mm ) or .125"

================================ */

/* ==========================
    Font Faces
========================== */

@font-face {
    font-family: 'GothB';
    src: url('https://fonts.totalexpert.net/GothB.woff2') format('woff2'),
    url('https://fonts.totalexpert.net/GothB.woff') format('woff'),
    url('https://fonts.totalexpert.net/GothB.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GothL';
    src: url('https://fonts.totalexpert.net/GothL.woff2') format('woff2'),
    url('https://fonts.totalexpert.net/GothL.woff') format('woff'),
    url('https://fonts.totalexpert.net/GothL.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'GothBO';
    src: url('https://fonts.totalexpert.net/GothBO.woff2') format('woff2'),
    url('https://fonts.totalexpert.net/GothBO.woff') format('woff'),
    url('https://fonts.totalexpert.net/GothBO.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GothM';
    src: url('https://fonts.totalexpert.net/GothM.woff2') format('woff2'),
    url('https://fonts.totalexpert.net/GothM.woff') format('woff'),
    url('https://fonts.totalexpert.net/GothM.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Knockout-HTF26-JuniorFlyweight';
  src: url('https://fonts.totalexpert.net/Knockout-HTF26-JuniorFlyweight.eot?#iefix') format('embedded-opentype'),
       url('https://fonts.totalexpert.net/Knockout-HTF26-JuniorFlyweight.otf')  format('opentype'),
       url('https://fonts.totalexpert.net/Knockout-HTF26-JuniorFlyweight.woff') format('woff'),
       url('https://fonts.totalexpert.net/Knockout-HTF26-JuniorFlyweight.ttf')  format('truetype'),
       url('https://fonts.totalexpert.net/Knockout-HTF26-JuniorFlyweight.svg#Knockout-HTF26-JuniorFlyweight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'KOFullFlyweight';
	src: url('https://fonts.totalexpert.net/KOFullFlyweight.eot');
	src: url('https://fonts.totalexpert.net/KOFullFlyweight.eot?#iefix') format('embedded-opentype'),
		 url('https://fonts.totalexpert.net/KOFullFlyweight.woff2') format('woff2'),
		 url('https://fonts.totalexpert.net/KOFullFlyweight.woff') format('woff'),
		 url('https://fonts.totalexpert.net/KOFullFlyweight.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}


/* ==========================
    General Styles
========================== */

.flyer{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* ==========================
    Column One
========================== */

.flyer-front-col-one{
	width: 93.5mm;
	height: 100%;
	float: left;
	margin: 0;
	padding: 0;
	background-image: url('https://totalexpert.net/media/assets/images/movement/pid2423-col-1-spanish.jpg');
    background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
}

/* ==========================
    Column Two
========================== */

.flyer-front-col-two{
	width: 93.4mm;
	height: 100%;
	padding: 20mm 9mm 6.35mm 9mm;
	float: left;
}

.lender-photo{
	width: 22mm;
	height: 33mm;
	margin: 0 auto 7mm auto;
	background-image: url('https://totalexpert.net/media/assets/images/movement/lindsey.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
}

.lender-info{
	text-align: center;
	margin: 0 0 10mm 0;
}

.lender-info p{
	margin: 0;
	line-height: 1.5;
}

.lender-name{
	font-family: 'GothM';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 15pt;
	color: rgb(119,120,123);
}

.lender-title{
	font-family: 'GothM';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 8pt;
	color: rgb(119,120,123);
	margin: 0 0 2mm 0 !important;
  text-transform:uppercase;
}

.lender-nmls{
	font-family: 'GothL';
	font-size: 8pt;
	color: rgb(119,120,123);
}

.lender-phone,
.lender-cell,
.lender-fax,
.lender-email,
.lender-website{
	font-family: 'GothBO';
	font-size: 8pt;
	color: rgb(119,120,123);
}

.flyer-hr{
	width: 27mm;
	height: 1px;
	background-color: #CACACA;
	margin: 5mm auto;
}

.lender-branding{
	height: 8mm;
	margin: 0 0 2mm 0;
	padding: 4mm 0 0 0;
	width: 30mm;
	float: right;
}

.eho-logo{
	float: right;
	height: 6mm;
	width: 6mm;
	margin: 1mm 0 0 2mm;
	background-image: url('https://totalexpert.net/media/assets/images/movement/eho.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.lender-address{
	float: left;
	width: 36mm;
	height: 5mm;
	font-family: 'GothB';
	overflow: hidden;
	font-size: 5pt;
	margin: 2mm 0 0 0;
	color: rgb(119,120,123);
}

.flyer-disclaimer{
	clear: both;
}

.disclaimer-text{
	font-family: 'GothBO';
	font-size: 6pt;
	color: rgb(119,120,123);
	margin: 0;
	text-align: justify;
}

.flyer-pid{
	font-family: 'GothB';
	font-size: 6pt;
	color: rgb(119,120,123);
	margin: 0;
}

.flyer-website{
	float: right;
	font-family: 'GothBO';
	font-size: 6pt;
	color: rgb(119,120,123);
	margin: 0;
}

.disclaimer-text a {
    color: inherit;
    text-decoration: none;
}

/* ==========================
    Column Three
========================== */

.flyer-front-col-three{
	width: 95.6mm;
	height: 100%;
	float: right;
	margin: 0;
	padding: 0;
	background-image: url('https://totalexpert.net/media/assets/images/movement/pid2423-col-3-spanish.jpg');
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.lender-spacer{
	height: 183mm;
	padding: 0;
	margin: 0;
}

.lender-name-2{
	height: 25mm;
	width: 65mm;
	overflow: hidden;
	line-height: 18mm;
	font-family: 'KOFullFlyweight';
	font-size: 38pt;
	color: #fff;
	margin: 0 0 0 9.75mm;
	padding: 0;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-transform: uppercase;
}

/* ==========================
    Back Side
========================== */

.flyer-back{
	height: 100%;
	width: 100%;
	background-image: url('https://totalexpert.net/media/assets/images/movement/pid2423-spanish-back.jpg');
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.flyer-front-col-one-back{
	width: 93.5mm;
	height: 100%;
	float: left;
	margin: 0;
	padding: 0;
}

.flyer-col-two-spacer{
	height: 79mm;
	margin :0;
	padding: 0;

}

.lender-name-3{
	height: 11mm;
	width: 70mm;
	line-height: 11mm;
	overflow: hidden;
	font-family: 'KOFullFlyweight';
	font-size: 38pt;
	color: #c6202e;
	margin: 0 0 0 9mm;
	padding: 0;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-transform: uppercase;
}

.lender-name-4{
	height: 13mm;
	width: 70mm;
	line-height: 13mm;
	overflow: hidden;
	font-family: 'KOFullFlyweight';
	font-size: 38pt;
	color: #c6202e;
	margin: 0 0 0 9mm;
	padding: 0;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-transform: uppercase;
}

.flyer-padding{
	padding: 0;
}

.lender-text{
	font-family: 'GothBO';
	font-size: 8pt;
	height: 103mm;
	width: 73.5mm;
	overflow: hidden;
	line-height: 2;
	padding: 0;
	color: rgb(153,153,153);
	margin: 3mm 0 0 9mm;
}

/* ==========================
    Crop Info
========================== */

.tri-crop{
	position: relative;
	height: 219mm;
	width: 282.576mm;
	background-image: url('https://totalexpert.net/media/assets/images/movement/trifold-crop.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin: -219mm 0 0 0;
	overflow: hidden;
}

.tri-wrapper{
	height: 219mm;
	width: 282.576mm;
	overflow: hidden;
}

